[submodule "include/WDL"]
	path = include/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "include/tinygettext"]
	path = include/tinygettext
	url = https://github.com/jcsteh/tinygettext
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt
[submodule "include/js_ReaScriptAPI"]
	path = include/js_ReaScriptAPI
	url = https://github.com/juliansader/js_ReaScriptAPI
[submodule "js_ReaScriptAPI"]
	path = js_ReaScriptAPI
	url = https://github.com/juliansader/js_ReaScriptAPI
